name: ContainerScan

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  ContainerScan:
    name: ContainerScan
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go 1.x
      uses: actions/setup-go@v2
      with:
        go-version: ^1.15
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v2

    - name: Build Image
      run: |
        docker build . --file Dockerfile --tag scan-image:${{ github.sha }} --build-arg VERSION=${{ github.sha }}

    - uses: Azure/container-scan@v0
      with:
        image-name: scan-image:${{ github.sha }}
